tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"

{{- if eq .chezmoi.os "darwin" }}
cask_args appdir: "/Applications"
{{- end }}

brew "autoconf"
brew "automake"
brew "coreutils"
brew "libyaml"
brew "libsodium"
brew "libiconv"
brew "libzip"
brew "openssl@3"
brew "asdf"
brew "azure-cli"
brew "bison"
brew "bash-completion"
brew "chezmoi"
brew "cmake"
brew "cowsay"
brew "dasel"
brew "doxygen"
brew "gettext"
brew "gd"
brew "gh"
brew "gifsicle"
brew "git"
brew "gmp"
brew "gnupg"
brew "httpie"
brew "icu4c"
brew "imagemagick"
brew "iperf"
brew "jq"
brew "nmap"
brew "peco"
brew "pre-commit"
brew "pv"
brew "re2c"
brew "ssh-copy-id"
brew "starship"
brew "wget"
brew "wrk"
brew "zlib"
brew "zsh-history-substring-search"
brew "ripgrep"
brew "exa"
brew "bat"
brew "ghq"
brew "fd"
brew "procs"

{{- if eq .chezmoi.os "darwin" }}
brew "mas"
cask "1password"
cask "1password-cli"
cask "chromedriver"
cask "deepl"
cask "devtoys"
cask "devutils"
cask "discord"
cask "docker"
cask "dropbox"
cask "firefox"
cask "font-hack-nerd-font"
cask "gitkraken"
cask "google-chrome"
cask "iterm2"
cask "jetbrains-toolbox"
cask "karabiner-elements"
cask "kindle"
cask "licecap"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "microsoft-office"
cask "microsoft-teams"
cask "notion"
cask "raycast"
cask "sequel-ace"
cask "slack"
cask "visual-studio-code"
cask "zoom"

mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Toggl Track", id: 1291898086
{{- end }}
