tap "azure/bicep"
tap "azure/functions"
tap "coursier/formulas"
tap "felixkratz/formulae"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "jetbrains/utils"
tap "oven-sh/bun"

{{- if eq .chezmoi.os "darwin" }}
cask_args appdir: "/Applications"
{{- end }}

brew "act"
brew "autoconf"
brew "automake"
brew "libsodium"
brew "libyaml"
brew "openssl@3"
brew "azure-cli"
brew "bash-completion"
brew "bat"
brew "bison"
brew "gettext"
brew "chezmoi"
brew "cmake"
brew "gmp"
brew "coreutils"
brew "cowsay"
brew "dasel"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "docker-credential-helper"
brew "doxygen"
brew "eza"
brew "fd"
brew "fzf"
brew "gd"
brew "gh"
brew "ghq"
brew "gifsicle"
brew "libiconv"
brew "git"
brew "unbound"
brew "gnupg"
brew "graphviz"
brew "httpie"
brew "icu4c@76"
brew "imagemagick"
brew "iperf"
brew "jq"
brew "kind"
brew "libxml2"
brew "libzip"
brew "mise"
brew "mysql-client@5.7"
brew "nmap"
brew "openai-whisper"
brew "peco"
brew "pkgconf"
brew "poetry"
brew "pre-commit"
brew "procs"
brew "pulumi"
brew "pv"
brew "qpdf"
brew "re2c"
brew "rename"
brew "ripgrep"
brew "ssh-copy-id"
brew "starship"
brew "telnet"
brew "uv"
brew "virtualenv"
brew "wget"
brew "wireshark"
brew "wrk"
brew "zlib"
brew "zoxide"
brew "zsh-completions"
brew "zsh-history-substring-search"
brew "azure/bicep/bicep"
brew "azure/functions/azure-functions-core-tools@4"
brew "felixkratz/formulae/borders"
brew "jetbrains/utils/qodana"
brew "oven-sh/bun/bun"

{{- if eq .chezmoi.os "darwin" }}
brew "mas"
brew "qemu"
brew "lima-additional-guestagents"
brew "mono-libgdiplus"
brew "coursier/formulas/coursier"
brew "colima", restart_service: :changed
brew "newman"

cask "1password", args: { appdir: "/Applications" }
cask "1password-cli", args: { appdir: "/Applications" }
cask "anki"
cask "azookey"
cask "calibre"
cask "chromedriver", args: { appdir: "/Applications" }
cask "cmux"
cask "copilot-cli"
cask "deepl", args: { appdir: "/Applications" }
cask "devtoys", args: { appdir: "/Applications" }
cask "devutils"
cask "discord", args: { appdir: "/Applications" }
cask "dropbox", args: { appdir: "/Applications" }
cask "firefox", args: { appdir: "/Applications" }
cask "font-hack-nerd-font"
cask "font-plemol-jp"
cask "font-plemol-jp-hs"
cask "font-plemol-jp-nf"
cask "font-plemol-jp-nfj"
cask "ghostty"
cask "gimp"
cask "google-chrome", args: { appdir: "/Applications" }
cask "iterm2", args: { appdir: "/Applications" }
cask "jetbrains-toolbox", args: { appdir: "/Applications" }
cask "karabiner-elements", args: { appdir: "/Applications" }
cask "keycastr"
cask "licecap", args: { appdir: "/Applications" }
cask "microsoft-auto-update", args: { appdir: "/Applications" }
cask "microsoft-edge", args: { appdir: "/Applications" }
cask "microsoft-office", args: { appdir: "/Applications" }
cask "microsoft-teams", args: { appdir: "/Applications" }
cask "notion", args: { appdir: "/Applications" }
cask "powershell"
cask "raycast", args: { appdir: "/Applications" }
cask "sequel-ace", args: { appdir: "/Applications" }
cask "slack", args: { appdir: "/Applications" }
cask "utm"
cask "visual-studio-code"
cask "zoom"
mas "Keynote", id: 409183694
mas "Kindle", id: 302584613
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Windows App", id: 1295203466
vscode "davidanson.vscode-markdownlint"
vscode "donjayamanne.githistory"
vscode "github.copilot-chat"
vscode "github.remotehub"
vscode "github.vscode-github-actions"
vscode "github.vscode-pull-request-github"
vscode "microsoft-aspire.aspire-vscode"
vscode "ms-azuretools.vscode-azurefunctions"
vscode "ms-azuretools.vscode-azureresourcegroups"
vscode "ms-ceintl.vscode-language-pack-ja"
vscode "ms-dotnettools.csdevkit"
vscode "ms-dotnettools.csharp"
vscode "ms-dotnettools.vscode-dotnet-runtime"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-python.vscode-python-envs"
vscode "ms-vscode.azure-repos"
vscode "ms-vscode.remote-repositories"
vscode "patcx.vscode-nuget-gallery"
vscode "redhat.vscode-yaml"
go "golang.org/x/tools/cmd/goimports"
go "golang.org/x/tools/gopls"
go "github.com/rakyll/hey"
go "honnef.co/go/tools/cmd/staticcheck"
cargo "cargo-compete"
cargo "mdbook"
cargo "mdbook-admonish"
cargo "mdbook-katex"
cargo "mdbook-linkcheck"
cargo "mdbook-mermaid"
cargo "mdbook-toc"
cargo "orly"
cargo "rustlings"
uv "whisper-openai"
{{- end }}
