{{- $private := get . "private" | default (dict) -}}
{{- $git := get $private "git" | default (dict) -}}
{{- $httpsGithub := "https://github.com/" -}}
{{- $sshGithub := "git@github.com:" -}}
{{- $ghqRoot := get $git "ghq_root" | default "~/Development/src" -}}
{{- $ghqWorkRoot := get $git "ghq_work_root" | default "~/Development/work" -}}
{{- $workGitconfigPath := get $git "work_gitconfig_path" | default "" -}}
{{- $githubOrgs := get $git "github_orgs" | default (list) -}}
{{- $use1PasswordSSHSigning := get $git "use_1password_ssh_signing" | default false -}}
{{- $enableGitLfsFilter := get $git "enable_git_lfs_filter" | default false -}}
{{- if (eq .chezmoi.os "linux") }}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/1.7.0/bin/gh auth git-credential
{{- end }}
{{- end }}
[user]
	email = doradora56@gmail.com
	name = dora56
[init]
	defaultBranch = main

[core]
	autocrlf = input
	excludesFile = ~/.gitignore

[ghq]
	root = {{ $ghqRoot }}

{{- if and (eq .chezmoi.os "darwin") $workGitconfigPath $ghqWorkRoot }}
[includeIf "gitdir:{{ $ghqWorkRoot }}/**"]
	path = {{ $workGitconfigPath }}
{{- end }}

{{- if and (eq .chezmoi.os "darwin") $use1PasswordSSHSigning }}
[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true
{{- end }}

{{- range $org := $githubOrgs }}
[ghq "{{ print $httpsGithub $org }}"]
	root = {{ $ghqWorkRoot }}

[url "{{ print $sshGithub $org }}"]
	pushInsteadOf = "{{ print $httpsGithub $org }}"
{{- end }}

{{- if $enableGitLfsFilter }}
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
{{- end }}

[alias]
	pr = pull --rebase

[push]
	autoSetupRemote = true

{{- if (eq .chezmoi.os "linux") }}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
{{- end }}
{{- end }}
